<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <center>
  <%- include ('navbar.ejs') %>
  <span class="container margin-30">
    <form method="POST" action="/post/user">
      <div>
        <h1 style="text-align: center;">Add Post</h1>
        <hr><br />
        <span><%= msg %></span><br /> <br />
        
        <br>
        <br>
        <div>
          <label for="postTitle"> postTitle </label>
          <br>
          <br>
          <input type="text" id="title" name="title" placeholder="Enter Post Title" />
        </div>
        <br>
        <br>
        <div>
          <label for="postDescription"> postDescription </label>
          <br>
          <br>
          <textarea id="description" name="description" placeholder="Enter Discription"></textarea>
        </div>
        <div>
          <input type="submit" value="Add Post" onclick="return checkValidateData();">
          <br>
          <button class="btn btn-danger col-lg-2" type="reset">CANCEL</button>
        </div>
      </div>
    </form>
    </div>
    <script type="text/javascript">
      function checkValidateData() {
        let postTitle = document.getElementById('title').value;
        let discription = document.getElementById('discription').value;
        if (postTitle && discription) {
          return true;
        } else {
          alert('Field should not be null');
          return false;
        }
      }
    </script>
</center>
</body>

</html>